<h2 style="text-align: center;">{{projectTitle}}</h2>

{{#each sections}}
  <h3 style="text-align: {{alignTitle}};">{{title}}</h3>
  <p style="text-align: {{alignContent}};">{{content}}</p>
{{/each}}

{{#if observations}}
  <h4>Observações</h4>
  <p>{{observations}}</p>
{{/if}}

{{#each customClauses}}
  {{#if enabled}}
    <h4>{{title}}</h4>
    <p>{{content}}</p>
  {{/if}}
{{/each}}